html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2 rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    transition: all 0.3s ease; /*En esta parte se hace uso de una transicion para que esteticamente 
    se vea mejor el sombreado de los posts (la sintaxis es box-shadow para seleccionar que objeto se animara
    0.3s para determinar el tiempo de la transicion, y finalmente el algoritmo de aceleracion y desaceleracion)*/
    background-color: #fff;
    margin: 1 rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    margin-bottom: 30px;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}
